@import url(https://fonts.googleapis.com/css?family=Inter:regular,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display+SC:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:regular&display=swap);

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	line-height: 1;
	font-family: Inter;
	font-weight: normal;
	font-size: 24px;
	color: #252525;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{
	text-decoration: none;
	/* color: #252525; */
}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
header,
section,
footer {
	min-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.__container {
	width: 1280px;
}

.__button{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #252525;
	color: #ffffff;
	
}
.__arrow-button{
	border-radius: 0 32px;
}
.__arrow-button::after{
	content: url('/img/arrow_down_right.png');
	width: 34px;
	height: 34px;
	transform: translateX(16px);
}
/*----------------------------------Header---------------------------*/
.header {
	width: 88px;
}

.header-container {
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo img{
	width: 40px;
	height: 40px;
}

.header-menu {
	width: 543px;
	height: 100%;
}

.menu-list {
	height: 100%;
	width: 100%;;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-item:hover {
	text-decoration: underline;
}

.menu-link {
	font-size: 20px;
	line-height: 120%;
	color: #252525;
}

.header-search {
	margin: 0 16px 0 0;
}

.header-search-icon,
.header-shopping-icon {
	width: 24px;
	height: 24px;
}

/*----------------------------------Novelty---------------------------*/
.novelty {
	height: 936px;
}

.novelty-container {
	height: 776px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}


.novelty-header {
	width: 720px;
	height: 263px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.novelty-title {
	font-family: Playfair Display;
	font-weight: 500;
	font-size: 64px;
	line-height: 120%;
	text-align: center;
}

.novelty-text {
	font-size: 20px;
	line-height: 160%;
	text-align: center;
}

.novelty-btn {
	width: 287px;
	height: 74px;
	font-family: Playfair Display SC;
	line-height: 140%;
	color: #ffffff;
}

.novelty-body {
	height: 433px;
	width: 100%;
	display: flex;
	gap: 16px;
	margin: 0 0 0 -25px;
}

.novelty-image {
	height: 100%;
	border-radius: 0 80px;
}
.novelty-image:first-child {
	width: 243.35px;
}
.novelty-image:nth-child(2) {
	width: 433px;
}
.novelty-image:nth-child(3) {
	width: 324.75px;
}
.novelty-image:last-child {
	width: 278.07px;
}

/*----------------------------------    ---------------------------*/
